
/* ----------------------------------------------------
	 GLOBAL STYLES
------------------------------------------------------- */


body {
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

p {
	font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #849096;
	line-height: 1.7em;
}

img {
	max-width: 100%;
	height: auto;
}


a {
    color: #4ec4cf;
	text-decoration: none;
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}

a:hover {
	text-decoration: none;
	color: #1eb9a0;
}


.logo {
	position: relative;
    top: 54px;
    left: -2px;
    width: 100px;
    height: 100px;
}

.hr {
	border-bottom: 3px solid #9e5b41;
	display: block;
	width: 50px;
	margin: auto;
	margin-top: 60px;
}


/* ----------------------------------------------------
	 BANNER STYLES
------------------------------------------------------- */


.banner {
	 background: url(../images/main-banner_fluor-field.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 341px;
    padding-top: 57px;
}

.banner h1 {
	font-weight: 400;
    color: #fff;
    font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
    position: relative;
    top: 71px;
    margin: 65px 0 0px 23px;
    font-size: 64px;
    display: inline-block;
    color: #fff;
}

.banner-info {
	width: 70%;
	margin: 40px auto;
}

.banner-info  p {
	font-size: 1.4em;
	font-weight: 400;
	color: #fff;
	line-height: 1.8em;
	font-family: 'ff-tisa-web-pro', sans-serif;
}

.banner-info  p .part {
	font-size: 1.3em;
	color: #fff;
    font-family: 'ff-tisa-web-pro', serif;
	display: inline;
	margin-right: 5px;
}

.banner-video {
	margin: 100px auto;
}

.banner-bottom {
	width: 100%;
    padding: 200px 0;
    color: #fff;
    background: url(../images/banner-bottom.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	margin-top: 130px;
}


/* ----------------------------------------------------
	 INTRO SECTION
------------------------------------------------------- */


.intro-section{
	width: 100%;
	background-color: #f5f8fa;
}

.intro-section h2{
   font-size: 28px;
   font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
   font-weight: 400;
   color: #202f37;
}

.intro-info {
	width: 90%;
    margin: 98px auto 0 0;
}

.intro-info  p {
	font-size: 1.4em;
	font-weight: 400;
	color: #849096;
	line-height: 1.8em;
 font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
}

.intro-info  p .part {
	font-size: 1.3em;
	color: #849096;
    font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	display: inline;
	margin-right: 5px;
}

/* ----------------------------------------------------
	 RFI BOX
------------------------------------------------------- */


.rfi-box{
	background-color: rgba(255,255,255,0.7);
	display: block;
	height: auto;
	width: 100%;
	padding: 30px;
	margin: 50px auto;
	border-radius: 4px;
    background-clip: padding-box;
}

#main-rfi{
	font-size: 1.1em;
    font-family: 'ff-tisa-web-pro', serif;
}

#main-rfi h4{
   font-size: 1.3em;
   font-family: 'ff-tisa-web-pro', serif;
   font-weight: 700;
   color: #233139;
}

#main-rfi h3{
   font-weight: 400;
   font-style: italic;
   color: #727d84;
}

#main-rfi ul, #main-rfi li, p{
	font-family: 'ff-tisa-web-pro', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #233139;
	line-height: 1.7em;
	list-style-type: none;
}

#main-rfi li label.desc{
	margin-top: 10px;
	margin-bottom: 0;
}

#main-rfi ul{
	padding: 0;
}

#main-rfi input{
    background-color: #EDF0F2;
    border: 2px solid #E5EBEF;
    width: 100%;
    border-radius: 4px;
    margin: 5px 0;
    padding: 10px 20px;
    color: #202F37;
    font-size: 1em;
    -webkit-appearance: none;
}

#main-rfi input:focus{
    border: 2px solid #E5EBEF;
    background-color: #FFF;
    outline: none;
 }

 #main-rfi input[type="submit"] {
 	font-family: 'ff-tisa-web-pro', serif;
    font-weight: 700;
    padding: 10px 0;
    background: #6FBBB7;
    border-radius: 2px;
    color: #FFF;
    font-size: 1em;
    display: block;
    text-align: center;
    border: none;
    width: 70%;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 20px;
}

/* ----------------------------------------------------
	 MENU STYLES
------------------------------------------------------- */


.head-nav {
	padding: 3em 0em;
}

.head-nav ul {
	padding: 0;
	margin: 0;
}

.head-nav ul li {
	display: inline-block;
	margin: 0 .5em;
}

.head-nav ul li a {
	position: relative;
	display: inline-block;
	margin: 15px 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.1em;
	font-family: 'ff-tisa-web-pro', sans-serif;
}

.head-nav ul li a:hover {
	color: #d1e2d8;
}

/* ----------------------------------------------------
	 INTERVIEW SECTION STYLES
------------------------------------------------------- */

.interviews{
	padding:65px 0px 90px;
}

/* ----------------------------------------------------
	 ABOUT STYLES
------------------------------------------------------- */


.margin-about {
	margin-top: -25px;
}

.about-holder {
	width: 100%;
	float: left;
	background-color: #f5f8fa;
}

.about-right {
	text-align: center;
	padding: 3em 6em;
}

.about-right h2 {
   font-size: 28px;
   font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
   font-weight: 400;
   color: #202f37;
}

.about-right p {
	font-size: 1em;
	font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	color: #849096;
	line-height: 1.8em;
	margin: 1em 0em;
}

.about-left {
	padding: 0;
}


/* ----------------------------------------------------
	 SERVICES STYLES
------------------------------------------------------- */


.margin-services {
	margin-top: 60px;
}

.services-holder {
	width: 100%;
	float: left;
	background-color: #f5f8fa;
}

.services-left {
	text-align: center;
	padding: 3em 8em;
}

.services-left h2 {
    font-size: 28px;
    font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
    font-weight: 400;
    color: #202f37;
}

.services-left p {
	font-size: 1em;
	font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	color: #849096;
	line-height: 1.8em;
	margin: 1em 0em;
}

.services-right {
	padding: 0;
	text-align: right;
}


.list-group-item {
	position: relative;
	display: block;
	padding: 6px 4px;
	background-color: #f5f8fa;
	border: none;
	text-align: left;
	font-size: 1em;
}

.services-holder i {
	font-size: 0.6em;
}


/* ----------------------------------------------------
	 IMAGES STYLES
------------------------------------------------------- */


.images {
	margin-top: 54px;
	margin-bottom: 40px;
}

.images .col-md-6 {
	padding-right: 0;
	padding-left: 0;
}

.images-inner {
	position: relative;
	padding: 0;
	overflow: hidden;
}

.images-inner>img {
	display: block;
	max-width: 100%;
	height: auto;
}


/* ----------------------------------------------------
	 GALLERY STYLES
------------------------------------------------------- */


.gallery {
    font-size: 1.8em;
        font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
	text-align: center;
	margin-top: 45px;
	padding-bottom: 26px;
}

.gallery h3{
   font-size: 28px;
   font-weight: 400;
   color: #202f37;
}

.gallery p {
	font-size: 0.6em;
	font-weight: 400;
	color: #849096;
	line-height: 1.8em;
	font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	width: 49%;
	padding: 0 13px 13px;
	margin-top: 13px;
}

.gallery-page-wrap {
    position: relative;
}

.gallery-page-wrap img {
	width: 100%;
}


.gallery-page-wrap .gallery-page-inner {
   top: 0;
   background: transparent;
   width: 100%;
   border-radius: 0;
   margin-bottom: 0;
}

.gallery-page-wrap .gallery-page-inner h3 {
   margin-top: 50px;
   margin-bottom: 19px;
   font-size: 28px;
   font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
   text-transform: uppercase;
   text-align: center;
   font-weight: 400;
}


.gallery-page-wrap .gallery-page-inner a {
   color: #fff;
   font-size: 1em;
}

.gallery-page-wrap .gallery-page-inner a:hover {
	text-decoration: underline;
}

.gallery-page-wrap .gallery-page-inner p {
   color: #fff;
}

.gallery-page-wrap .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   border-radius: 0;
   background: #4ec4cf;
   color: #fff;
   vertical-align: middle;
   -webkit-transition: opacity 500ms;
   -moz-transition: opacity 500ms;
   -o-transition: opacity 500ms;
   transition: opacity 500ms;
   padding: 30px;
}

.gallery-page-wrap .overlay .preview {
   bottom: 0;
   display: inline-block;
   height: 35px;
   line-height: 35px;
   border-radius: 0;
   background: transparent;
   text-align: center;
   color: #fff;
}

.gallery-page-wrap:hover .overlay {
   opacity: 1;
}

.img-gallery {
   margin-bottom: 60px;
}

.green-btn {
    color: white;
	background-color: transparent;
    border: 2px solid #b2e4e1;
	border-radius: 0;
}

.green-btn:hover {
    color: white;
	background-color: transparent;
	border-color: #caefed;
}

.module-btn {
    color: #233139;
	background-color: transparent;
    border: 1px solid #CCC;
	border-radius: 0;
	margin-top: 14px;
}

.module-btn:hover {
    color: #233139;
	background-color: transparent;
	border-color: #DFDFDF;
}

/*---------------------------------------------------
	SIGNUP SECTION STYLES
---------------------------------------------------*/

.signup {
    font-size: 1.8em;
    font-family: 'ff-tisa-web-pro', serif;
    color: #233139;
	text-align: center;
	margin-top: 45px;
	padding-bottom: 26px;
	padding-top:24px;
	clear:both;
}

.signup h3{
   font-weight: 700;
   font-style: italic;
   color: #727d84;
}

.signup p {
	font-size: 0.6em;
	font-weight: 400;
	color: #233139;
	line-height: 1.8em;
	font-family: 'ff-tisa-web-pro', sans-serif;
	width: 49%;
	padding: 0 13px 13px;
	margin-top: 13px;
}

/*---------------------------------------------------
	PORTFOLIO MODALS STYLES
---------------------------------------------------*/


.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 27px;
	font-family: 'ff-tisa-web-pro', serif;
    color: #233139;
	text-transform: capitalize;
}

.portfolio-modal .modal-content h3 {
    margin-bottom: 15px;
    font-size: 1.6em;
    color: #233139;
	font-family: 'ff-tisa-web-pro', serif;
	text-align: left;
}

.portfolio-modal .modal-content p {
    margin-bottom: 18px;
	color: #233139;
	font-family: 'ff-tisa-web-pro', sans-serif;
	font-size: 1.1em;
	text-align: left;
}

.portfolio-modal .modal-content .modals-text-intro {
    margin-top: 20px;
	margin-bottom: 30px;
	color: #233139;
	font-family: 'ff-tisa-web-pro', sans-serif;
	font-size: 1.2em;
	text-align: center;
	line-height: 1.6em;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
	font-family: 'ff-tisa-web-pro', sans-serif;
    font-size: 1.1em;
	text-align: center;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}


/* ----------------------------------------------------
	 IMAGES1 STYLES
------------------------------------------------------- */


.images1 {
	margin-top: 80px;
	margin-bottom: 40px;
}

.images1 .col-md-6 {
	padding-right: 0;
	padding-left: 0;
}
.images1-inner {
	position: relative;
	padding: 0;
	overflow: hidden;
}

.images1-inner>img {
	display: block;
	max-width: 100%;
	height: auto;
}


/* ----------------------------------------------------
	 PRICES STYLES
------------------------------------------------------- */


.prices {
    font-size: 1.8em;
    font-family: 'ff-tisa-web-pro', serif;
    color: #233139;
	text-align: center;
	margin-top: 45px;
	padding-bottom: 26px;
}

.prices p {
	font-size: 0.6em;
	font-weight: 400;
	color: #233139;
	line-height: 1.8em;
	font-family: 'ff-tisa-web-pro', sans-serif;
	width: 49%;
	padding: 13px;
	margin-top: 13px;
}


.flat .plan {
    border-radius: 0;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 0;
    background: #fff;
    border: 2px solid #dae5e5;
    text-align: center;
}

.flat .plan li {
    padding: 10px 15px;
	color: #233139;
    border-top: 1px solid #dae5e5;
}

.flat .plan li.plan-price {
    border-top: 0;
}

.flat .plan li.plan-name {
    padding: 15px;
    font-size: 1.4em;
    line-height: 1.6em;
    background: transparent;
    margin-bottom: 30px;
    border-bottom: 2px solid #dae5e5;
    font-family: 'ff-tisa-web-pro', serif;
	text-transform: lowercase;
	text-align: center;
	letter-spacing: 0.2em;
	color: #233139;
}

.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.flat .plan li.plan-action {
    margin-top: 10px;
    border-top: 0;
}

.flat .plan.featured li.plan-name {
    background: #9d3f0a;
	color: white;
}

.flat .plan li .text {
    color: #233139;
}

.action-btn {
    color: #4ec4cf;
	background-color: transparent;
    border: 2px solid #4ec4cf;
	border-radius: 0;
}

.action-btn:hover {
    color: #1eb9a0;
	background-color: transparent;
	border-color: #1eb9a0;
}

.flat .plan i {
	font-size: 1.3em;
}


/* ----------------------------------------------------
	 NEWS  STYLES
------------------------------------------------------- */


.margin-news {
	margin-top:60px;
}

.news-holder {
	width: 100%;
	float: left;
	-webkit-font-smoothing: antialiased;
}

.news-right {
	text-align: center;
	padding: 3em 8em;
}

.news-right p {
	font-size: 1em;
	font-family: 'ff-tisa-web-pro', sans-serif;
	font-weight: 400;
	color: #233139;
	line-height: 1.8em;
	margin: 1em 0em;
}

.news-left {
	padding: 0;
}


.slider-info h2 {
   font-size: 27px;
   font-family: 'ff-tisa-web-pro', serif;
   color: #233139;
   padding-bottom: 10px;
}


/* ----------------------------------------------------
	 CONTACT STYLES
------------------------------------------------------- */


.margin-contact {
	margin-top: 24px;
}

.contact-holder {
	width: 100%;
	float: left;
	-webkit-font-smoothing: antialiased;
}

.contact-left {
	text-align: center;
	padding: 3em 8em;
}

.contact-left h1 {
    font-size: 1.8em;
    font-family: 'ff-tisa-web-pro', serif;
    color: #233139;
    padding-bottom: 10px;
}

.contact-left p {
	font-size: 1em;
	font-family: 'ff-tisa-web-pro', sans-serif;
	font-weight: 400;
	color: #233139;
	line-height: 1.8em;
	margin: 1em 0em;
}

.contact-right {
	padding: 0;
}

.contact-left h2 {
    font-size: 27px;
	font-family: 'ff-tisa-web-pro', sans-serif;
    color: #233139;
	text-align: center;
	line-height: 1.4em;
	margin-bottom: -2px;
}

.contactlist {
	margin-top: 20px;
}

.icon {
	margin-left: 9px;
}

.contact-left i {
	font-size: 1.4em;
}

.contact-left h3 {
    font-size: 1em;
	font-family: 'ff-tisa-web-pro', sans-serif;
    color: #233139;
	text-align: center;
	line-height: 1.4em;
}

.copyright{
	padding: 30px 0;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}

.copyright p{
	font-family: "ff-tisa-sans-web", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
}
/* ----------------------------------------------------
	 RESPONSIVE STYLES
------------------------------------------------------- */


@media (max-width:2560px){

.margin-services {
	margin-top: 160px;
}

.margin-news {
	margin-top: 160px;
}

.margin-contact {
	margin-top: 160px;
}

.list-group-item {
	text-align: left;
	margin-left: 140px;
}

}


@media (max-width:1920px){

.margin-services {
	margin-top: 130px;
}

.margin-news {
	margin-top: 150px;
}

.margin-contact {
	margin-top: 110px;
}

.list-group-item {
	text-align: left;
	margin-left: 90px;
}

}


@media (max-width:1680px){

.margin-services {
	margin-top: 60px;
}

.margin-news {
	margin-top: 90px;
}

.margin-contact {
	margin-top: 65px;
}

.list-group-item {
	text-align: left;
	margin-left: 35px;
}

}


@media (max-width:1440px){


.margin-services {
	margin-top: 35px;
}

.margin-news {
	margin-top: 65px;
}

.margin-contact {
	margin-top: 32px;
}

.list-group-item {
	text-align: left;
	margin-left: 7px;
}

}


@media (max-width:1366px){

.list-group-item {
	text-align: left;
	margin-left: -10px;
}

}


@media (max-width:1280px){


.margin-services {
	margin-top: -39px;
}

.margin-news {
	margin-top: 27px;
}

.margin-contact {
	margin-top: 20px;
}

.list-group-item {
	text-align: left;
	margin-left: -27px;
}

.banner-info p {
	font-size: 1.5em;
}

.services-left h1 {
	margin-top: 70px;
}

.gallery-page-wrap .gallery-page-inner h3 {
   margin-top: 30px;
}
#main-rfi input[type="submit"]{
	width:100%;
}

}

@media (max-width:1197px){
	.banner h1{
	font-size: 36px;
	}
}

@media (max-width:1123px){
	.banner h1{
	font-size: 36px;
}
}

@media (max-width:1024px){

.banner-info p {
	font-size: 1.4em;
}

.margin-services {
	margin-top: -7px;
}

.margin-news {
	margin-top: -25px;
}

.margin-contact {
	margin-top: -25px;
}

.text-resp {
	display: none;
}

.about-right {
	text-align: center;
}

.about-right p{
	margin-top:0;
}

.services-left {
	text-align: center;
}

.list-group-item {
   padding: 5px 5px;
}

.services-left h1 {
	margin-top: 34px;
}

.slider-info h2 {
   font-size: 27px;
}

}


@media (max-width:990px){

.rfi-box{
	width: 100%;
	margin: 50px auto 50px;
}

}

@media (max-width:800px){

.banner-info p {
	font-size: 1.4em;
	width: 100%;
}

.logo {
    top: 54px;
    left: 15px;
    width: 120px;
    height: 120px;
}

.intro-info {
    width: 90%;
    margin: 30px 4px;
}

.intro-info p{
	width: 100%;
    margin: 0 14px 0 14px;
}

.intro-section h2{
	margin: 0 14px 10px 14px;
}

.intro-paragraph{
    width: 90%;
    margin-left: 5%;
}

.about-right {
	padding: 50px 1em;
}

.about-right p {
	width: 70%;
	margin: 0 auto;
}

.services-left {
	padding: 50px 1em;
}

.services-left p {
	width: 70%;
	padding: 0 12px 12px;
	margin: 0 auto;
}

.list-group-item {
	text-align: left;
	margin-left: 120px;
}

.margin-services {

}

.margin-news {
	margin-top: 40px;
}

.margin-contact {
	margin-top: 40px;
}

.gallery p, .signup p {
	margin-bottom: 30px;
	width:90%;
	padding: 0;
}

.prices p {
	margin-bottom: 30px;
	width:90%;
	padding: 0;
}

.flat .plan.featured {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.contact-left h3 {
	margin-bottom: 38px;
}

.gallery-page-wrap .gallery-page-inner h3 {
   margin: 13px 0;
}

}


@media (max-width:768px){

.banner-info {
	width: 100%;
	margin: 0;
}

.rfi-box{
	width: 100%;
}

.head-nav ul li {
	display: block;
	float: none;
}

.head-nav ul li a {
	border-right: none;
	color: #fff;
}

.head-nav ul {
	position: absolute;
	margin: 0;
	padding: 2% 0;
	z-index: 999;
	width: 93%;
	display: none;
	text-align: center;
	background: #7fa6ab;
	opacity: 0.9;
	left: 2em;
	top: 3em;
}

.head-nav span.menu {
	display: block;
	background: none;
	position: absolute;
	top: 18px;
	right: 30px;
}

.head-nav span.menu:before {
	content: url(../images/menu.png);
	color: #FFF;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: right;
	cursor: pointer;
}

}

@media (max-width:722px){


.banner h1{
	margin: 0 0 0 14px;
    font-size: 36px;
    top: 60px;
    position: relative;
}
}

@media (max-width:600px){

.list-group-item {
	text-align: left;
	margin-left: 50px;
}

.gallery-page-wrap .gallery-page-inner h3 {
   margin-top: 30px;
}

.green-btn {
	margin-top: 10px;
}

}


@media (max-width:568px){

.list-group-item {
	width: 73%;
}


.head-nav ul {
	width: 90%;
}

}


@media (max-width:480px){

.banner-info p {
	font-size: 1.3em;
	width: 98%;
}

.banner h1{
    font-size: 30px;
}

.banner {
	min-height: 360px;
}

.list-group-item {
	text-align: left;
	width: 70%;
}

.head-nav ul {
	width: 87%;
}


}

@media (max-width:360px){

.prices p {
	width: 70%;
}

.gallery p, .signup p {
	width: 70%;
}

.news-right {
	text-align: center;
	padding: 5em 5em;
}

.contact-left {
	text-align: center;
	padding: 5em 5em;
}

.margin-contact {
	margin-top: -36px;
}

.margin-news {
	margin-top: 20px;
}

.col-xs-offset-3{
	margin-left: 16%;
}

.list-group-item {
	text-align: left;
	width: 88%;
	margin-left: 14px;
}

.logo {
	margin: 14px auto;
}

.banner-info p {
	margin-top: -12px;
}


}


@media (max-width:320px){

.head-nav {
	padding: 1em 0em;
}

.banner-info p {
	font-size: 1em;
}

.banner {
	min-height: 240px;
}

.head-nav ul {
	width: 82%;
}

}
